In [1]:
import os
from PIL import Image
import numpy as np

In [86]:
imgdir = "Images"
resdir = "Resimages2"

breads = ["beagle", 'EntleBucher', 'collie', 'Chihuahua', 'boxer', 'Doberman', 'English_foxhound', 'Rottweiler', 'German_shepherd', 'French_bulldog', 'golden_retriever', 'Maltese_dog']
breads2 = ['EntleBucher', 'Doberman', 'golden_retriever', 'Maltese_dog']
breads3 = ["Rottweiler"]
def parseImg(imgdir, resdir):
    size = 128
    count = 0
    for f in os.walk(imgdir):
        img_list = f[2]
        bread = f[0]
        if bread == imgdir:
            continue
        else:
            bread = bread.split("-")[1]
        if bread in breads3:
            c = 0
            for img in img_list:
                im = Image.open(os.path.join(f[0], img))
                if 0.8 <= im.size[0]/im.size[1] <= 1.2:
                    c += 1
                    im_res = im.resize((size, size), Image.ANTIALIAS)
                    im_res.save(os.path.join(resdir, bread + "_%s" %c)+".jpg")
                    count += 1
    return count

In [87]:
res = parseImg(imgdir, resdir)

In [83]:
res

123

In [66]:
size = 128
for img in os.listdir("Bosu"):
    im = Image.open(os.path.join("Bosu", img))
    im_res = im.resize((size, size), Image.ANTIALIAS)
    im_res.save(os.path.join(resdir, img)+".jpg")

In [28]:
from skimage.io import imread, imshow, imread_collection, concatenate_images
import re

In [93]:
img_list = os.listdir(resdir)
IMG_HEIGHT = 128
IMG_WIDTH = 128
IMG_CHANNELS = 3

X_train = np.zeros((len(img_list), IMG_HEIGHT, IMG_WIDTH, IMG_CHANNELS), dtype=np.uint8)
Y_train = []

for n, img in enumerate(img_list):
    if not img == ".DS_Store":
        img_res = imread(os.path.join(resdir, img))[:,:,:IMG_CHANNELS]
        X_train[n] = img_res
        bread = re.sub("_\d+", "", img.split(".")[0])
        Y_train.append(bread)

In [95]:
len(img_list)

111

In [48]:
import pandas as pd

In [89]:
X_train.shape

(112, 128, 128, 3)

In [104]:
X_train[1,][0]

array([[180, 164, 139],
       [180, 164, 139],
       [180, 164, 139],
       [181, 165, 140],
       [181, 165, 140],
       [181, 165, 140],
       [182, 166, 141],
       [182, 166, 141],
       [183, 167, 142],
       [184, 168, 143],
       [185, 169, 144],
       [185, 169, 144],
       [186, 170, 145],
       [186, 170, 145],
       [185, 169, 144],
       [185, 169, 144],
       [187, 172, 143],
       [187, 172, 143],
       [187, 172, 143],
       [188, 173, 144],
       [188, 173, 144],
       [189, 174, 145],
       [189, 174, 145],
       [189, 174, 145],
       [189, 174, 145],
       [189, 174, 145],
       [189, 174, 145],
       [189, 174, 145],
       [189, 174, 145],
       [189, 174, 145],
       [189, 174, 145],
       [189, 174, 145],
       [190, 173, 157],
       [190, 173, 157],
       [191, 172, 155],
       [191, 172, 155],
       [193, 172, 153],
       [193, 172, 153],
       [194, 172, 151],
       [196, 171, 149],
       [198, 172, 149],
       [199, 171, 147],
       [199, 171, 147],
       [201, 171, 145],
       [202, 171, 143],
       [200, 169, 141],
       [201, 167, 139],
       [200, 166, 138],
       [195, 164, 136],
       [198, 168, 140],
       [202, 172, 146],
       [201, 171, 145],
       [197, 167, 141],
       [195, 165, 139],
       [195, 167, 143],
       [198, 170, 146],
       [200, 172, 148],
       [200, 172, 148],
       [199, 173, 150],
       [199, 173, 150],
       [199, 173, 150],
       [199, 173, 150],
       [198, 174, 150],
       [198, 173, 151],
       [199, 175, 137],
       [199, 175, 137],
       [199, 175, 137],
       [199, 175, 137],
       [200, 174, 137],
       [200, 174, 137],
       [200, 174, 137],
       [202, 174, 137],
       [205, 177, 140],
       [205, 177, 140],
       [205, 177, 140],
       [205, 175, 139],
       [205, 175, 139],
       [205, 175, 139],
       [204, 174, 138],
       [204, 174, 138],
       [204, 175, 133],
       [204, 175, 133],
       [204, 175, 133],
       [203, 174, 132],
       [203, 174, 132],
       [203, 174, 132],
       [202, 173, 131],
       [202, 173, 131],
       [200, 171, 129],
       [200, 171, 129],
       [199, 170, 128],
       [199, 170, 128],
       [199, 170, 128],
       [198, 169, 127],
       [198, 169, 127],
       [198, 169, 127],
       [196, 167, 125],
       [196, 167, 125],
       [195, 166, 124],
       [195, 166, 124],
       [195, 166, 124],
       [194, 165, 123],
       [194, 165, 123],
       [194, 165, 123],
       [192, 163, 121],
       [192, 163, 121],
       [191, 162, 120],
       [190, 161, 119],
       [189, 160, 118],
       [189, 160, 118],
       [188, 159, 117],
       [188, 159, 117],
       [186, 159, 114],
       [186, 159, 114],
       [185, 158, 113],
       [185, 158, 113],
       [185, 158, 113],
       [184, 157, 112],
       [184, 157, 112],
       [184, 157, 112],
       [181, 154, 109],
       [180, 153, 108],
       [180, 153, 108],
       [180, 153, 108],
       [179, 152, 107],
       [179, 152, 107],
       [179, 152, 107],
       [179, 152, 107]], dtype=uint8)

In [96]:
X_train_flat = X_train.reshape(111, 128*128*3)

In [70]:
X_train_flat.shape

(207, 49152)

In [100]:
res = pd.DataFrame(X_train_flat)
res["label"] = Y_train
res["image"] = img_list

In [101]:
res.head()

,0,1,2,3,4,5,6,7,8,9,...,49144,49145,49146,49147,49148,49149,49150,49151,label,image
0,18,22,23,18,22,25,17,21,24,17,...,200,110,171,190,100,168,187,97,EntleBucher,EntleBucher_1.jpg
1,180,164,139,180,164,139,180,164,139,181,...,187,167,204,187,167,204,187,167,EntleBucher,EntleBucher_10.jpg
2,7,6,22,36,35,51,169,171,186,59,...,131,126,128,129,124,126,127,122,EntleBucher,EntleBucher_11.jpg
3,183,194,164,184,195,163,166,177,145,178,...,158,175,192,153,180,183,146,179,EntleBucher,EntleBucher_12.jpg
4,73,104,124,70,101,121,70,101,121,73,...,122,141,96,123,144,98,125,146,EntleBucher,EntleBucher_13.jpg

In [102]:
res.to_csv("dogdata2.csv")